build/

# Compiled object files
*.o

# Executables
a.out
ccsds

# Debug files
*.log

# IDE/editor folders
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db

.clangd
.cache/
FINAL_PROJECT.md

